{% extends 'base.html.twig' %}

{% block componentScript %}
  <script type="module" src="/js/edit/modelController.js"></script>
{% endblock %}


{% block body %}

    <h3>Add a Thing</h3>

<form method="POST" enctype="multipart/form-data" id="editTheThingForm" data-flpwa-components-form action="/">
  <fieldset>
    <div class="flpwa-control">
      <label>
        The date
        <input type="datetime-local" name="meta[date]">
      </label>
    </div>
    <div class="flpwa-control">
      <label>Where did the Thing took place
        <select name="meta[place]">
          <option></option>
          <option>Paris</option>
          <option>London</option>
          <option>Berlin</option>
          <option>Stockholm</option>
          <option>Madrid</option>
        </select>
      </label>
    </div>
  </fieldset>
  <fieldset>
    <div class="flpwa-control">
      <label>
        Title
        <input type="text" name="title" />
      </label>
    </div>
    <div class="flpwa-control">
      <label>
        Description
        <textarea name="description"></textarea>
      </label>
    </div>
    <div class="flex-row fluid-items">
      <div class="flpwa-control">
        <legend>Severity</legend>
        <label class="stack">
          <input type="radio" name="category" value="Severe" />
          <span class="checkable">Severe</span>
        </label>
        <label class="stack">
          <input type="radio" name="category" value="Important" />
          <span class="checkable">Important</span>
        </label>
        <label class="stack">
          <input type="radio" name="category" value="Begnin" />
          <span class="checkable">Begnin</span>
        </label>
        <label class="stack">
          <input type="radio" name="category" value="All good" />
          <span class="checkable">All good</span>
        </label>
    </div>
      <div class="flpwa-control">
        <legend>Other multi choice cat</legend>
        <label class="stack">
          <input type="checkbox" name="multiChoice[]" value="Blue" />
          <span class="checkable">Blue</span>
        </label>
        <label class="stack">
          <input type="checkbox" name="multiChoice[]" value="Red" />
          <span class="checkable">Red</span>
        </label>
        <label class="stack">
          <input type="checkbox" name="multiChoice[]" value="Green" />
          <span class="checkable">Green</span>
        </label>
        <label class="stack">
          <input type="checkbox" name="multiChoice[]" value="Yellow" />
          <span class="checkable">Yellow</span>
        </label>
    </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Consequences</legend>
    <div class="flex-row fluid-items">
      <div class="flpwa-control">
        <label>
          <input type="checkbox" name="peopleInvolved" value="1">
          <span class="checkable">People involved?</span>
        </label>
      </div>
      <div class="flpwa-control">
        <label>
          Downtime duration
          <input type="text" name="numbreHoursDowntime" data-change="computeDowntime" data-value-type="integer" inputmode="numeric" placeholder="in hours" />
        </label>
      </div>
    </div>
    <div class="flpwa-control">
      <label>
        Number of hours of downtime
        <input type="text" name="numbreHoursDowntime" data-change="computeDowntime" data-value-type="integer" inputmode="numeric" />
      </label>
    </div>
  </fieldset>

  <div data-flpwa-submit-area>
    <button type="submit" title="send form">Done</button>
    <button type="reset" title="Nah…" class="cancel-btn">Cancel</button>
  </div>
</form>
{% endblock body %}
