{% extends 'base.html.twig' %}

{% block componentScript %}
  <script type="module" src="/js/edit/modelController.js"></script>
  <script type="module" src="/js/edit/fileController.js"></script>
  <script src="/js/Constants.js"></script>
{% endblock %}


{% block body %}

    <h3>Add a Thing</h3>

<form method="POST" enctype="multipart/form-data" id="editTheThingForm" action="/" novalidate>
  <ol data-form-errors class="form-errors-list"></ol>
  <fieldset>
    <div >
      <label>
        <span class="label-text">The date</span>
        <input type="datetime-local" name="meta[date]" required>
        <span class="error" aria-live="polite"></span>
      </label>
    </div>
    <div >
      <label>
        <span class="label-text">Where did the Thing took place</span>
        <select name="meta[place]" required>
          <option></option>
          <option>Paris</option>
          <option>London</option>
          <option>Berlin</option>
          <option>Stockholm</option>
          <option>Madrid</option>
        </select>
        <span class="error" aria-live="polite"></span>
      </label>
    </div>
  </fieldset>
  <fieldset>
    <div >
      <label>
        <span class="label-text">Title</span>
        <input type="text" name="title" required />
        <span class="error" aria-live="polite"></span>
      </label>
    </div>
    <div >
      <label>
        <span class="label-text">Description</span>
        <textarea name="description" required></textarea>
        <span class="error" aria-live="polite"></span>
      </label>
    </div>
    <div class="flex-row fluid-items">
      <div >
        <legend class="label-text">Severity</legend>
        <span class="error" aria-live="polite"></span>
        <label class="stack">
          <input type="radio" name="category" value="Severe" required />
          <span class="checkable">Severe</span>
        </label>
        <label class="stack">
          <input type="radio" name="category" value="Important" />
          <span class="checkable">Important</span>
        </label>
        <label class="stack">
          <input type="radio" name="category" value="Begnin" />
          <span class="checkable">Begnin</span>
        </label>
        <label class="stack">
          <input type="radio" name="category" value="All good" />
          <span class="checkable">All good</span>
        </label>
    </div>
      <div >
        <legend>Other multi choice cat</legend>
        <label class="stack">
          <input type="checkbox" name="multiChoice[]" value="Blue" />
          <span class="checkable">Blue</span>
        </label>
        <label class="stack">
          <input type="checkbox" name="multiChoice[]" value="Red" />
          <span class="checkable">Red</span>
        </label>
        <label class="stack">
          <input type="checkbox" name="multiChoice[]" value="Green" />
          <span class="checkable">Green</span>
        </label>
        <label class="stack">
          <input type="checkbox" name="multiChoice[]" value="Yellow" />
          <span class="checkable">Yellow</span>
        </label>
    </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Consequences</legend>
    <div class="flex-row fluid-items">
      <div >
        <label>
          <input type="checkbox" name="peopleInvolved" value="1">
          <span class="checkable">People involved?</span>
          <span class="error" aria-live="polite"></span>
        </label>
      </div>
      <div >
        <label>
          Downtime duration
          <input type="text" name="numbreHoursDowntime" data-change="computeDowntime" data-value-type="integer" inputmode="numeric" placeholder="in hours" />
          <span class="error" aria-live="polite"></span>
        </label>
      </div>
    </div>
  </fieldset>
  <div data-file-wrapper class="files-wrapper"></div>
  <fieldset>
    <legend>Add files or photos</legend>
    <div >
      <label class="dropimage">
        <input title="Drop image or click me" type="file" name="documents" multiple capture="environment">
      </label>
    </div>
  </fieldset>

  <div>
    <button type="submit" title="send form">Done</button>
    <button type="reset" title="Remove this Thing" class="-cancel">Remove</button>
  </div>
</form>

<dialog id="confirmReset">
  <p>Remove the Thing as well as the files?</p>
  <form method="dialog">
    <button value="yes" >Proceed</button>
    <button value="no">No</button>
  </form>
</dialog>

{% endblock body %}
