{% extends 'base.html.twig' %}

{% block scripts %}
  <script type="module" src="./js/list/failedController.js"></script>
  <script src="./js/Constants.js"></script>
{% endblock %}


{% block body %}

    <h3>List the failed sync things</h3>
    <ol class="list-container" data-list-container>
    </ol>

{% endblock body %}
