{% extends 'base.html.twig' %}


{% block body %}

<article class="card">
  <header>
    <h3>An example of pure JS offline frst PWA</h3>
  </header>
  <footer>
    <a class="button" href="/edit">Create “a Thing”</a>
  </footer>
</article>


{% endblock body %}

