{% extends 'base.html.twig' %}

{% block scripts %}
  <script type="module" src="./js/home/homeController.js"></script>
  <script src="/js/Constants.js"></script>
{% endblock %}

{% block body %}

<article class="card">
  <header>
    <h3>An example of pure JS offline frst PWA</h3>
  </header>
  <section data-models-container></section>
  <footer>
    <a class="button" href="/edit">Create “a Thing”</a>
  </footer>
</article>


{% endblock body %}

