main{
  padding-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 3em;
}
nav{
  top: auto;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav a, nav .svg-icon, nav a.pseudo.button {
  color: cornflowerblue;
  fill: cornflowerblue;
}
nav a[href="/list"]{
  font-size: 1.35em;
  font-variant: all-small-caps;
}
nav .burger ~ .menu{
  background-color: cornflowerblue;
}
nav .burger ~ .menu a{
  color: white;
}
nav .show:checked ~ .burger > svg{
  fill: transparent;
}
@media all and (max-width: 60em) {
  nav .burger ~ .menu,
  nav .show:checked ~ .burger {
    top: calc(-100vh + 3em);
    bottom: 0;
  }
}
.svg-icon{
  width: 40px;
}
/*
FORM
 */

fieldset{
  margin-bottom: 1em;
}
.dropimage{
  width: 36%;
  padding-bottom: 16%;
}
input:invalid,
textarea:invalid,
select:invalid {
  border-color: #e5578e;
  background-color: #efc3d4;
  padding-bottom: 0;
}
[type=checkbox]:invalid+.checkable:before,
[type=radio]:invalid+.checkable:before {
  border-color: #e5578e;
  background-color: #efc3d4;
}
.form-errors-list{
  padding-left: 0.3em;
  font-size: .90em;
  font-style: italic;
  margin-top: 0;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #e5578e;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
  display: block;
}


.files-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.result-img {
    position: relative;
    width: calc(50% - 5px);
    margin-bottom: 5px;
}
.result-img:nth-child(odd) {
    margin-right: 5px;
}
.result-img:nth-child(even) {
    width: 50%;
}
.result-img > img {
    width: 100%;
}
.result-img button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px;
    background: rgba(0,0,0,.3);
}
.result-img svg {
    width: 35px;
    height: 35px;
}

.-cancel, .-muted{
  background-color: #668fb2;
}
.button.-link{
  font-size: 74%;
  background: cornflowerblue;
}
.list-container{
  padding-left: 0;
}
.list-card_status{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.list-footer{
  display: flex;
  justify-content: space-between;
}
.thing-description{
  white-space: pre-line;
}
.thing-card_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*
user notification
*/
.user-notification {
  position: sticky;
  top: 3em; /* submit block is fixed at top & 3em height */
  width: fit-content;
  padding-right: 74px;
  padding-left: .5m;
  /*border: 1px solid grey;*/
  border-radius: .5em;
}
.user-notification.info,
.label.-status.pending,
.label.-status.update {
  background-color: #c3d9e5;
}
.user-notification.success,
.label.-status.done {
  background-color: #a4d5bd;
}
.user-notification.failure,
.label.-status.failed {
  background-color: #efc3d4;
}
.user-notification .content {
  position: relative;
  margin: 0;
  padding: 0.3em;
}
.user-notification .close{
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
/*  width: 50px;
  height: 50px;
  font-size: 40px;
  background-color: rgb(227 154 154 / 24%);
  border: 1px solid;*/
  border-radius: .5em;
  background: rgb(128 128 128 / 61%);
}

/*
* Grid utilities
*/

.flex-row{
  display: flex;
  flex-direction: row;
}

.fluid-items>*{
  flex: 1;
}
.flex-2{
  flex: 2;
}

