main{
  padding-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
}

fieldset{
  margin-bottom: 1em;
}
.dropimage{
  width: 36%;
  padding-bottom: 16%;
}
.files-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.result-img {
    position: relative;
    width: calc(50% - 5px);
    margin-bottom: 5px;
}
.result-img:nth-child(odd) {
    margin-right: 5px;
}
.result-img:nth-child(even) {
    width: 50%;
}
.result-img > img {
    width: 100%;
}
.result-img button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px;
    background: rgba(0,0,0,.3);
}
.result-img svg {
    width: 35px;
    height: 35px;
}

.cancel-btn, .muted{
  background-color: #668fb2;
}
.list-container{
  padding-left: 0;
}
.thing-description{
  white-space: pre-line;
}
.thing-card_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.thing-status{
    align-self: end;
    margin-bottom: 0.3em;
}
/*
* Grid utilities
*/

.flex-row{
  display: flex;
  flex-direction: row;
}

.fluid-items>*{
  flex: 1;
}
.flex-2{
  flex: 2;
}

